@media screen {
    .table-responsive th { 
        background: #333; 
        color: white;
        text-align: center; 
        word-wrap: break-word;
        }
    .table-responsive td, .table-responsive th { 
        font-size:12px;
        border: 1px solid #ccc;
        padding: 8px;
        text-align: center; 
    }

    .table-responsive tr {
        background-color: #f0f8ff;
    }
    
    .table-responsive {
        overflow-x: auto;
    }
