@media screen {
    #sub-title1 {
    width: 750px;
    }
    #sub-title2 {
    width: 400px;
    }
    #sub-left {
    float: left;
    }
    #sub-right {
    float: right;
    }
    .clear-both {
    clear: both;
    }
    td, th { 
      font-size:12px;
      text-align: center; 
      word-wrap: break-word;
    }

    .float-left {
    float:left;
    width:auto; // or 33% for equal width independent of parent width
    }
    
}
