<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        {% block title %}
            <title>{{title}}</title>
        {% endblock %}

        {% load staticfiles %}

        {% block base_css %}
            <!-- Bootstrap core CSS -->
            <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
            <link href="{% static 'css/custom.css' %}" rel="stylesheet">
            <link href="{% static 'bootstrap/css/sticky-footer-navbar.css' %}" rel="stylesheet">
            <style>
            html, body {
            height: 100%;
            }
            footer {
            color: #666;
            background: #222;
            padding: 17px 0 18px 0;
            border-top: 1px solid #000;
            }
            footer a {
            color: #999;
            align:right;
            }
            footer a:hover {
            color: #efefef;
            }
            .wrapper {
            min-height: 100%;
            height: auto !important;
            height: 100%;
            margin: 0 auto -63px;
            }
            .hero-unit {
            margin-left:20px;
            margin-right:20px;
            padding:10px;
            }
            .push {
            height: 63px;
            }
            /* not required for sticky footer; just pushes hero down a bit */
            .wrapper > .container1 {
            padding-top: 60px;
            }
        </style>
        {% endblock %}

        {% block base_script %}
            <!-- Core JavaScript -->
            <script src="{% static 'jquery/jquery-1.10.2.min.js' %}"></script>
            <script src="{% static 'js/destroy_modal.js' %}"></script>
            <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        {% endblock %}

        {% block custom_css %}
             <!-- Custom styles for this template -->
        {% endblock %}

        {% block custom_script %}
        {% endblock %}
  </head>

  <body>
      
        {% block head_menu %}
<div class="no-print">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            
            <a class="navbar-brand" href="/">{{title}}</a>
          </div>
          <div class="collapse navbar-collapse">
            
            {% if user.is_authenticated %}
                <p class="navbar-text navbar-right">
                Вы вошли как <a href="#" class="navbar-link">{{ request.user.get_full_name }}</a>
                </p>
                <p class="navbar-text navbar-right">
                <a href="/accounts/logout/" class="navbar-link">Выйти</a>
                </p>
                
            {% else %}
            <form class="navbar-form navbar-right" action='/accounts/login/' method='post'>{% csrf_token %}
                <div class="form-group">
                <input type="text" placeholder="Логин" class="form-control" name="username" value="" id="username">
                </div>
                <div class="form-group">
                <input type="password" placeholder="Пароль" class="form-control" name="password" value="" id="password">
                </div>
                <input type="submit" class="btn btn-primary" value="Войти" />
                <input type="hidden" name="next" value="{{request.path}}" />
            </form>
            {% endif %}
            
          </div><!--/.nav-collapse -->
        </div>
      </div>
</div>
        {% endblock %}
    
    <div class="wrapper">
        <div class="container1">
            <header class="hero-unit">
               {% if user.is_authenticated %}
               <div class="row">
        <div class="col-sm-3 col-md-3">
            {% block sidebar %}
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                            </span> Раздел администраторов</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-cog text-primary"></span><a href="/admin/"> Администрирование</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a href="#"> Добавить новый вид работы</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-list-alt text-primary"></span><a href="#"> Cписок всех видов работ</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-flash text-success"></span><a href="/sallary/"> Зарплата</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-file text-info"></span><a href="#"> Архив отчетов</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-user"></span><a href="/performers/"> Сотрудники</a>
                                        <span class="badge">{{staff|length}}</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <hr>
                 <!-- Begin cycle-->
                {% for obj in jobs %} 
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree{{ obj.id }}"><span class="glyphicon glyphicon-user">
                            </span> {{ obj }}</a>
                        </h4>
                    </div>
                    <div id="collapseThree{{ obj.id }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        {% for item in obj.performers.all %}<a href="#"><strong>{{ item }}</strong><br></a>{% endfor %}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- End cycle -->
            </div>
        </div>
        {% endblock %} <!-- End sidebar -->
        
        <div class="col-sm-9 col-md-9">
            {% block content %}
                <h2>Отчеты сотрудников</h2>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Дата создания отчета</th>
                            <th>Исполнитель</th>
                            <th>Наименование работы</th>
                            <th>Ссылка на отчет в GoogleDocs</th>
                            <th>Количество напечатанных символов</th>
                            <th>Статус отчета</th>
                            <th>Прим.</th>
                        </tr>
                    </thead>
                    {% for obj in staff_report %}
                    <tbody>
                        <tr>
                            <td>{{ obj.date_report|date:"j.m.Y H:i"}}</td>
                            <td><a href="#"><strong>{{ obj.performer }}</strong></a></td>
                            <td>{{ obj.name_job.name }}</td>
                            <td><a href="#">{{ obj.url }}</a></td>
                            <td>{% if obj.number_symbols == None %}
                                <p> - </p>
                                {% else %}
                                <p>{{ obj.number_symbols }}</p>
                                {% endif %}
                            </td>
                            {% if obj.signature_accept == False %}
                                <td class = "danger">Не проверен
                                </br>
                                <!-- Button trigger modal -->
                                <a href="/close_report/{{obj.pk}}/" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">
                                Закрыть отчет <span class="glyphicon glyphicon-ok-sign"></span>
                                </a>
                                <!-- Modal -->
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                </div><!-- /.modal -->
                                {% else %}
                                </td>
                                <td class = "success">Проверен</td>
                                {% endif %}
                            <td><a href="#">{{ obj.note }}</a></td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
        </div>
        {% endblock %}
    </div>
        </header>
             {% else %}
            <h2>Вы не авторизованы :(</h2>
            {% endif %}
        </div><!--end container-->

        <div class="push"><!--//--></div>
    </div><!--end wrapper-->
    
    {% block footer %}
    <div class="no-print">
       <div id="footer">
          <div class="container">
            <p class="text-muted credit">Powered by Django</p>
          </div>
        </div>
    </div>
    {% endblock %}
    </body>
      
  </body>
</html>
