<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Изменение статуса отчета для оформления зарплаты</h4>
      </div>
      <div class="modal-body">
        
        {% block content %}

        <p>Изменить статус отчета от {{object.date_report}} сотрудника <strong>{{object.performer}}</strong></p>
        <p>касающийся проекта <strong>{{object.name_job}}</strong></br>
        <strong>{{object.name_cart.number_cartridge}}</strong></p>
        <div class="alert alert-warning">Внимание статус отчета будет изменен на "Проверенный"</div>
        {% endblock %}
        <form action="/close_report_save/{{object.id}}/" method="post" enctype="multipart/form-data">{% csrf_token %}
        </form>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" onclick="$('.modal-body > form').submit();">Сохранить</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
