{% extends "base.html" %}

{% load staticfiles %}
    {% block custom_script %}
        <script type="text/javascript">
            function calculate() {
                var myBox1 = document.getElementById('id_cost').value; 
                var myBox2 = document.getElementById('id_number_position').value;
                var result = document.getElementById('id_wage'); 
                var myResult = myBox1 * myBox2;
                result.value = myResult;
            }
            </script>
    {% endblock %}

{% block content %}
    <div>
        <form action="." method="post">{% csrf_token %}
            <div class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title">Добавить зарплату сотруднику <span class="glyphicon glyphicon-euro"></span></h3></div>
            <div class="panel-body">
                
                <div>
                {{ form.date.errors }}
                {{ form.date.label_tag }}
                {{ form.date }}
                &nbsp;
                {{ form.performer_sallary.errors }}
                {{ form.performer_sallary.label_tag }}
                {{ form.performer_sallary }}
                &nbsp;
                {{ form.name_job.errors }}
                {{ form.name_job.label_tag }}
                {{ form.name_job }}
                </div>
                <hr>
                <p></p>
                <div>
                {{ form.cost.errors }}
                {{ form.cost.label_tag }}
                {{ form.cost }}
                &nbsp;
                {{ form.number_position.errors }}
                {{ form.number_position.label_tag }}
                {{ form.number_position }}
                &nbsp;
                {{ form.wage.errors }}
                {{ form.wage.label_tag }}
                {{ form.wage }}
                </div>
                <p></p>
                <hr>
                <div>
                {{ form.note.errors }}
                {{ form.note.label_tag }}
                {{ form.note }}
                </div>
                
            </div>
        </div>
            <button type="submit" class="btn btn-success">Сохранить</button>
        </form>
        {% include 'autocomplete_light/static.html' %}
    </div>
{% endblock %}
