{% extends "base.html" %}

{% block content %}
    <a href="/performers/freelancer/">Фрилансеры</a>
    <a href="/performers/office/">Сотрудники в офисе</a>
    <a href="/performers/">Все сотрудники</a>
    <br>
    <h5>{{performer}} <span class="badge">{{list_performers|length}} </span></h5>
     <table class = "table table-striped">
     <thead>
        <tr>
            <th>ФИО</th>
            <th>Ник</th>
            <th>Должность</th>
            <th>Тип сотрудничества</th>
            <th>Номер зарплатной карты</th>
            <th>Имя в skype</th>
            <th>Email</th>
        </tr>
     </thead>
     <tbody>
         {% for obj in list_performers %}
        <tr>
            <td>{{obj.get_full_name}}</td>
            <td>{{obj.username}}</td>
            <td>{{obj.position}}</td>
            <td>{{obj.get_type_performer_display}}</td>
            <td>{{obj.number_cart}}</td>
            <td>{{obj.skype}}</td>
            <td>{{obj.email}}</td>
        </tr>
        {% endfor %}
     </tbody>
     
     </table>
        
{% endblock %}
