{% extends "base.html" %}
    {% load staticfiles %}
    {% block custom_script %}
        <script type="text/javascript">
        $(function() {
          $("#test").click(function() {
             $.get("/xhr_test/", function(data) {
                alert(data);
             });
          });
        });
        </script>
    {% endblock %}

{% block content %}
    
<!--
    <input type="button" id="test" value="Display JS Array"/>
-->
    <a href="/sallary/freelancer/">Фрилансеры</a>
    <a href="/sallary/office/">Сотрудники в офисе</a>
    <a href="/sallary/">Все сотрудники</a>
    <h5>{{performer}} <span class="badge">{{sallary_performers|length}} </span></h5>
    <br>
    <a href = "/create_sallary/" class="btn btn-primary">Добавить зарплату</a>
    <br>
    <hr>
     <table class = "table table-striped">
     <thead>
        <tr>
            <th>Дата</th>
            <th>ФИО</th>
            <th>Тип сотрудничества</th>
            <th>Наименование проекта</th>
            <th>Сумма з/п (грн.)</th>
            <th>Прим.</th>
        </tr>
     </thead>
     <tbody>
         {% for obj in sallary_performers %}
        <tr>
            <td>{{obj.date}}</td>
            <td>{{obj.performer_sallary.get_full_name}}</td>
            <td>{{obj.performer_sallary.get_type_performer_display}}</td>
            <td>{{obj.name_job.name}}</td>
            <td>{{obj.wage}}</td>
            <td>{{obj.note}}</td>
        </tr>
        {% endfor %}
     </tbody>
     
     </table>
        
{% endblock %}
