<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="ru">

<head>
    <title>Вход в систему</title>
</head>

<body>
<div align="center">
<h1>Войти</h1>

{% block content %}

  {% if form.errors %}
    <p class="error">Вы не верно ввели имя пользователя или пароль</p>
  {% endif %}

  <form action='/accounts/login/' method='post'>{% csrf_token %}
  <table>
      <tr>
          <td>
            <label for="username">Логин:</label>
          </td>
          <td>
            <input type="text" name="username" value="" id="username">
          </td>
      </tr>
      <tr>
          <td>
            <label for="password">Пароль:</label>
          </td>
          <td>
            <input type="password" name="password" value="" id="password">
          </td>
      </tr>
      <tr>
        
          <td>
              <input type="submit" value="Войти" />
          </td>
      </tr>
  </table>
              <input type="hidden" name="next" value="{{ next|escape }}" />
              
  </form>

{% endblock %}
</div>
</body>
</html>
